.form_login{
    font-size: 13px;
    padding: 0px 30px;
}
.btn-login{
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
}

.btn-login:hover{
    background: #f1c860;
    background: -webkit-linear-gradient(top,#f5d78e,#eeb933);
    background: linear-gradient(to bottom,#f5d78e,#eeb933);
}
.btn-register{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    color: #111;
}
.btn-register:hover{
    border-color: #adb1b8 #a2a6ac #a2a6ac;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    color: #111;
}
.account-divider{
    position: relative;
    top: 0;
    margin-top:30px;
    margin-bottom: 20px;
    line-height: 0;
}
.account-divider:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
}
.account-divider span{
    background:#fff;
}
.a-divider{
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
}
.a-divider:after {
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    content: "";
}
@media(max-width:768px){
    .form_login{
        padding:0;
    }
}